@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body { font-family: sans-serif; 
  background: black;
  padding: 20px;
  color: black;}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid #ff4655;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
}

header h1 span { color: #ff4655;}

#search-bar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: 35px;
  gap: 2px;
  border: none;
}

#search-bar button {
  background: #ff4655;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

#searchInput {
  flex: 1;
  width: 100%;
  padding: 8px 12px;
}

.controls {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
}

.filter-btn {
  border: 1px solid #908f8f;
  background: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: .5px;
  color: #888;
  transition: all .15s;
}

.filter-btn.active { background: black; color: white;}

#agents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 14px;
}

.agent-card { 
  border: 1px solid #222; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #111;
}

.agent-card img.portrait {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  object-position: top;
  display: block;
}

.card-info {
  padding: 12px;
  background: #0f0e17; /* dark bg para magpakita ang icons nde daan kitaon if white ikaw na bahala yon */
  color: white;
  flex: 1;
}

.card-info h2 { 
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 13px; 
  letter-spacing: .5px;
  margin-bottom: 5px; 
}

.card-info .role { 
  font-size: 11px; 
  color: #ff4655; 
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.abilities-label {
  font-size: 12px; 
  color: #aaaaaa; 
  margin-top: 5px;
  margin-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.ability {
  display: flex; 
  align-items: center; 
  gap: 7px; 
  margin-bottom: 5px;
  color: #aaaaaa;
}

.ability img {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}
.ability-name { font-size: 12px; color: #ddd; }

.ability-slot { font-size: 0px; color: gray; margin-left: auto; }

footer {
  margin-top: 30px; 
  padding-top: 15px; 
  border-top: 1px solid #222; 
  font-size: 12px; 
  color: #aaaaaa; 
  text-align: center;
  gap: 10px;
}

